# Python ja data-analytiikka
# Palautettava tehtävä 4

In [ ]:
import pandas as pd
# Aineiston lukeminen
df = pd.read_excel(
    r"D:\GitHub\PythonDataAnalytics\doc\Opinnäytetyökysely.xlsx", 
    sheet_name="Kysely"
)
df.info()  # varmista, että muuttuja löytyy ja rivejä on odotetusti

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 42 columns):
 #   Column                                                                                                  Non-Null Count  Dtype
---  ------                                                                                                  --------------  -----
 0   Aikaleima                                                                                               242 non-null    object
 1   Kuinka löysit aiheesi?                                                                                  242 non-null    object
 2   Opinnäytetyöni oli hankkeistettu                                                                        242 non-null    object
 3   Oliko työsi teoreettinen vai käytännöllinen? Teoreettinen (1) - Käytännöllinen (5)                      242 non-null    int64
 4   Pystyin itse vaikuttamaan aiheen valintaan                                                              242 non-null    int64
 5   Olin innostunut opinnäytetyötä tehdessäni                                                               242 non-null    int64
 6   Pystyin itse vaikuttamaan opinnäytetyöni ohjaajan valintaan                                             242 non-null    int64
 7   Sain riittävästi ohjausta                                                                               242 non-null    int64
 8   Hankin itse aktiivisesti tietoa työni aiheesta                                                          242 non-null    int64
 9   Tutkimusaiheeni kiinnosti minua                                                                         242 non-null    int64
 10  Sain muilta opiskelijoilta tukea työni tekemisessä                                                      242 non-null    int64
 11  Työn toimeksiantaja oli kiinnostunut työstäni                                                           154 non-null    float64
 12  Työn toimeksiantaja oli kiinnostunut ohjaamaan työtäni                                                  154 non-null    float64
 13  Ohjaajani panos tuki työtäni                                                                            242 non-null    int64
 14  Saamani ohjaus oli asiantuntevaa                                                                        242 non-null    int64
 15  Valmistauduin ohjauspalavereihin                                                                        242 non-null    int64
 16  Saamani ohjaus oli motivoivaa                                                                           242 non-null    int64
 17  Työni ohjaaja vastasi nopeasti tiedusteluihini                                                          242 non-null    int64
 18  Ohjaustilanteet eivät tuntuneet minusta pelottavilta                                                    242 non-null    int64
 19  Ohjaajaani oli helppo lähestyä                                                                          242 non-null    int64
 20  Luotin ohjaajani neuvoihin                                                                              242 non-null    int64
 21  Eri ohjaustapojen käyttäminen ja niiden hyödyllisyys: Seminaarit                                        242 non-null    int64
 22  Eri ohjaustapojen käyttäminen ja niiden hyödyllisyys: Henkilökohtaiset tapaamiset ohjaajan kanssa       242 non-null    int64
 23  Eri ohjaustapojen käyttäminen ja niiden hyödyllisyys: Sähköiset yhteydet ohjaajan kanssa                242 non-null    int64
 24  Eri ohjaustapojen käyttäminen ja niiden hyödyllisyys: Keskustelut toimeksiantajan kanssa                242 non-null    int64
 25  Hyödyllisyys: Seminaarit                                                                                214 non-null    float64
 26  Hyödyllisyys:Henkilökohtaiset tapaamiset ohjaajan kanssa                                                220 non-null    float64
 27  Hyödyllisyys: Sähköiset yhteydet ohjaajan kanssa                                                        226 non-null    float64
 28  Hyödyllisyys: Keskustelut toimeksiantajan kanssa                                                        180 non-null    float64
 29  Ohjaajan tuki opinnäytetyön eri vaiheissa:aiheen valinnassa                                             242 non-null    int64
 30  Ohjaajan tuki opinnäytetyön eri vaiheissa:tutkimuskysymysten tai kehittämistehtävän rajauksessa         242 non-null    int64
 31  Ohjaajan tuki opinnäytetyön eri vaiheissa:menetelmien valinnassa                                        242 non-null    int64
 32  Ohjaajan tuki opinnäytetyön eri vaiheissa:aineiston analyysissa                                         242 non-null    int64
 33  Ohjaajan tuki opinnäytetyön eri vaiheissa:johtopäätösten ja yhteenvedon tekemisessa                     242 non-null    int64
 34  Ohjaajan tuki opinnäytetyön eri vaiheissa:raportoinnissa                                                242 non-null    int64
 35  Thesis grade                                                                                            78 non-null     float64
 36  Opinnäytetyön tekemiseen kulunut aika ensimmäisistä aihekaavailuista työn valmistumiseen:kuukautta      234 non-null    float64
 37  Opinnäytetyön tekemisaika työviikkoina (40 h) aihekuvauksen tekemisestä työn valmistumiseen:työviikkoa  204 non-null    float64
 38  Oliko työ parityö?                                                                                      242 non-null    int64
 39  Opiskeluala                                                                                             242 non-null    object
 40  Sukupuoli                                                                                               242 non-null    object
 41  Ikä                                                                                                     240 non-null    float64
dtypes: float64(10), int64(27), object(5)
memory usage: 79.5+ KB

In [3]:
# Poistetaan rivit, joissa käsiteltävä aika-muuttuja puuttuu
time_var = (
    "Opinnäytetyön tekemiseen kulunut aika ensimmäisistä "
    "aihekaavailuista työn valmistumiseen:kuukautta"
)
df_time = df.dropna(subset=[time_var])

## Tunnusluvut opinnäytetyön tekemiseen kuluneesta ajasta
Lasketaan count, mean, std, min, 25 %, median (50 %), 75 % ja max.

In [4]:
# Tehdään kuvailevat tunnusluvut ja nimetään sarakkeet selkeiksi
desc = df_time[time_var].describe().rename({
    "count":      "Lukumäärä",
    "mean":       "Keskiarvo",
    "std":        "Keskihajonta",
    "min":        "Minimi",
    "25%":        "25 % kvartiili",
    "50%":        "Mediaani",
    "75%":        "75 % kvartiili",
    "max":        "Maksimi"
})
desc.to_frame(name="Arvo")

                      Arvo
Lukumäärä       234.000000
Keskiarvo         8.918803
Keskihajonta      5.516638
Minimi            2.000000
25 % kvartiili    5.000000
Mediaani          8.000000
75 % kvartiili   12.000000
Maksimi          30.000000

## Pivot-taulukot ohjauskysymyksistä  
Sijoitetaan riville opiskeluala ja sarakkeiksi  
- Sain riittävästi ohjausta.  
- Ohjaajaani oli helppo lähestyä  
- Luotin ohjaajani neuvoihin  
(näiden kysymysten numeric 1–5 asteikolla)

In [ ]:
# Pivot-taulukko ohjauskysymyksistä (keskiarvot)
questions = [
    "Sain riittävästi ohjausta",
    "Ohjaajaani oli helppo lähestyä",
    "Luotin ohjaajani neuvoihin"
]

pivot = pd.pivot_table(
    df,
    index="Opiskeluala",
    values=questions,
    aggfunc="mean"
)
pivot

,Luotin ohjaajani neuvoihin,Ohjaajaani oli helppo lähestyä,Sain riittävästi ohjausta
Opiskeluala,,,
Kulttuuri,4.209677,4.467742,3.354839
Liiketalous,3.906250,3.875000,3.218750
Tekniikka,4.407407,4.703704,3.777778

### Yhteenveto  
- Tehtävä 1: Aineisto puhdistettiin puuttuvien arvojen osalta ja laskettiin tunnusluvut.  
- Tehtävä 2: Pivot-taulukossa opiskeluala vs. ohjauskysymysten keskiarvot.